.App {
  text-align: center;
  
}

.Title{
  text-align: left;
  color:#001f3d
}
.Project a{
  text-decoration:none ;
  color: #a8e8ca;
  background-color: #001f3d;
  padding: 10px 20px;
  border-radius: 15px
}

.Project{
  text-align: left;
  color:#001f3d

}
.Title button{
  background-color: #001f3d ;
  border: none;
  font-size: 16px;
  color:#a8e8ca;
  padding: 15px 32px;
  border-radius: 15px
}

  .NavBar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  .NavBar li {
    display: inline;
    padding: 1em; 
  }

  .NavBar li a:link{
    text-decoration: none;
    color:#001f3d
  }
  body{
    background-color: #a8e8ca ;
    margin-left: 1em
  }
  